extends ../layout

block content
  a(href='/autos') volver

  br
  br
  br

  h1 Nuevo Auto

  br
  br

  form(action='/autos/create' method='post')
    label(for="id") ID: 
    input#id(type="text" name="id")
    br  
    label(for="id") Color: 
    input#color(type="text" name="color")
    br  
    label(for="id") Modelo: 
    input#modelo(type="text" name="modelo")
    br  
    label(for="id") Latitud: 
    input#latitud(type="text" name="latitud")
    br  
    label(for="id") Longitud: 
    input#longitud(type="text" name="longitud")
    br 
    br
    input.btn(type='submit' value='Guardar')     

    