extends ../layout

block content
  a(href='/autos/create') Nuevo Auto

  table.table
    thead 
      tr 
        th(scope='col') #
        th(scope='col') Color  
        th(scope='col') Modelo  
        th(scope='col') Ubicacion
        th(scope='col')
    tbody 
      each auto in autos
        tr
          td(scope='row')
            = auto.id
          td= auto.color
          td= auto.modelo 
          td= auto.ubicacion  
          td 
            a(href="autos/" + auto.id + "/update") Editar
          td 
            form.inline(method="post" action="autos/"+ auto.id + "/delete")
              input(type="hidden" name="id" value= auto.id)
              button.link-button(type="submit" name="submit_param", value="submit_value" class="btn")
                = "Eliminar"            