extends ../layout

block content
  a(href='/autos') volver

  br
  br
  br

  h1 Modificar Auto

  br
  br

  form(action=`/autos/${auto.id}/update` method='post') <!--interpolacion -->
    label(for="id") ID: 
    input#id(type="text" name="id" value=auto.id)
    br  
    label(for="id") Color: 
    input#color(type="text" name="color" value=auto.color)
    br  
    label(for="id") Modelo: 
    input#modelo(type="text" name="modelo" value=auto.modelo)
    br  
    label(for="id") Latitud: 
    input#latitud(type="text" name="latitud" value=auto.ubicacion[0])
    br  
    label(for="id") Longitud: 
    input#longitud(type="text" name="longitud" value=auto.ubicacion[1])
    br 
    br
    input.btn(type='submit' value='Guardar')     

    